<p> Please wait until admin can not confirm your registered organization. </p>

<p>Your account credentials are:</p>

Email: <%=@organization.email %>
<br>
Password: <%=@organization.user_password %>

