
        		
        		
        			
        			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	                    <div class="well successbg">
	                    	<div class="row">
	                    		<% video_url = get_video_url %>
	                    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	                    			<iframe width="920" height="380" src="<%= video_url %>" frameborder="0" allowfullscreen></iframe>
		                    		<!-- <div class="flot-charts" id="chart"></div> -->
	                    		</div>
	                    		
	                    	</div>
	                    </div>
            		</div>
            		
        
        	
   
      
     