<!-- <div> -->
    <div>
	<p class="brand_name" style="font-size:16px;">
		<%=f.collection_select :brand_id, Brand.all, :id, :name, {:prompt => 'Select Brand'}, required: "required"%>
		</div>
		<div>
	<!-- <p> -->
	    <%= f.fields_for :statuses %>
		<%= f.link_to_add "Add a Status", :statuses %>
	</div>

<!-- </div> -->

<%#= f.link_to_remove "Remove Brand"%>