<table border="1" class="role_permission">
	<tr>
		<th>Name</th>
		<th>Status</th>
	</tr>
	<%@account.brand_accounts.each do |ba|%>
		<tr>
			<td><%=ba.brand.name%></td>
			<td><%=ba.status%></td>
		</tr>
	<%end%>
</table>