

<section class="login">
	        <div class="login-panel">
	        <h3 class="text-muted">Login</h3>
	           <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	        	<!-- <form role="form" action="index.html"> -->
	        	      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
		        	<!-- <input class="form-control" placeholder="Username" type="text"> -->
		        	<div class="input-group">
		        		<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
				      <!-- <input type="password" class="form-control" placeholder="Password"> -->
				       <!-- <%# if devise_mapping.rememberable? -%>
                          <div><%#= f.check_box :remember_me, class: "form-control" %> <%#= f.label :remember_me %></div>
                       <%# end -%> -->
				      <span class="input-group-btn">
				      	<%#= f.submit "Sign in", class: "btn btn-default btn-lg" %>
				        <button class="btn btn-default btn-lg" type="submit">Login</button>
				      </span>
				    </div>
	        	<% end %>
	        	<hr />
	        	<%= render "devise/shared/links" %>
	        	
	        </div>
        </section>
       <!--  // <script>login();</script> -->