<div class="well cust_form">
  <div >
    <div class="form-group cust_show_form pull-left col-md-4">
      <h3>Role Information</h3>
      <p class="text-muted ">
      <h4>Name</h4> : <h4><span><%=@role.name%></span></h4>
      </p>
    </div>
  </div>
  <div class="pull-left" style="width: 20%">
    <%= link_to "Organization Dashboard", organization_path(@organization), class: "dbtn big twitter-big no-image btn-block"  %>	
  </div>
</div>

	                
