 <div class="well">
 	  
 	
	                    	<div class="header">Brand Table </div>
	                    	
	                    	<div class="table-responsive">
	                    		<table class="table table-hover">
	                                <thead>
	                                    <tr>
	                                        <th>Name</th>
	                                        <th>Commission Rate</th>
	                                        <th>Territory</th>                                        
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                	<% @org_user.brands.each do |brand| %>
		                                    <tr>
		                                        <td><%= brand.name %> </td>
		                                        <td><%= brand.commission_rate %></td>
		                                        <td><%= brand.territory %></td> 
		                                    </tr>
	                                    <% end %>
	                                    
	                                </tbody>
	                            </table>
	                    	</div>
	                    	</div>