<div class="form-group">
	Store Permissions
	<table border="1">
	<tr>
	<td></td>
	<td>View</td>
	<td>Edit</td>
	<td>Create</td>
	<td>Delete</td>
	</tr>
	<tr>
		<%= f_num.simple_fields_for :contact, html_input: {aads: "dadasdd"} %>
	
	</tr>
	</table>
</div>